header, section, footer, aside, nav, main, article, figure {
    display: block;
}
header {

}
nav {

}
nav li {
    position: relative;
    margin: auto;
    text-align: center;
}
.search {

}
.gameItem {
    padding: 16px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}
@media only screen and (min-width: 640px) and (max-width: 1023px) {
    nav li {
        margin: 0;
        /* text-align: left; */
    }
}
@media only screen and (min-width: 1023px) {
    nav li {
        margin: 0;
        /* text-align: left; */
    }
    body {
        /* background-color: black; */
    }
}